@page "/"
@inject CaseClient caseClient  
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<button class="btn btn-primary" @onclick="UseCaseClient">Use CaseClient</button>

@code{

    void UseCaseClient()
    {
        caseClient.DoMiddlewareCall();
    }
}